{% extends "Dashboard_template.html" %}

{% block UserName %}
{{ request.session.usuario }}
{% endblock %}

{% block titulo %}
Añadir Carpetas y Archivos
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Añadir Carpetas</div>
        <div class="panel-body">
            AQUI MOSTRARE LA LISTA DE ARCHIVOS
        </div>
    </div>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">Añadir Archivos</div>
        <div class="panel-body">
            AQUI MOSTRARE LA LISTA DE ARCHIVOS
        </div>
    </div> 
</div>

{% endblock %}
{% block scripts %}
{% endblock %}